#header {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #262626;
}

#header .col-md-8 {
    padding: 0;
}

nav {
    float: left;
}

#index {
    height: 50px;
    width: 100px;
    color: #FFFFFF;
    line-height: 50px;
    font-size: 25px;
    float: left;
    text-align: left;
}

.searchBar {
    float: right;
    margin-top: 8px;
    margin-right: 0;
}

#url_token {
    border-radius: 5px;
}

.nav-right {
    float: right;
}

#top20 {
    height: 600px;
    margin-top: 15px;
}

#relation {
    height: 600px;
    margin-top: 15px;
}

#gender {
    height: 300px;
    background-color: red;
}

