<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mychart-首页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<script src="https://cdn.bootcss.com/echarts/3.7.2/echarts-en.js"></script>
</head>
<body>
	<div class="header">
		<div class="nav">
			<a href="#" class="column" id="index">首页</a>
			<a href="#" class="column">知乎</a>
			<a href="#" class="column">链家</a>
			<a href="#" id="about">关于</a>
		</div>
	</div>
	<div class="content">
		<!-- 粉丝数量前10 -->
		<div id="top10">
			
		</div>
	</div>

	<!--引入echarts图表-->
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/crawlerchart/zhihu_top10.js"></script>
</body>
</html>

